<!DOCTYPE html>
<html lang="en">
<head>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>APCS project</title>
    <h1>Math Cards</h1>
    <P>select a difficulty</P>
    <form action = "/easy">
        <button action = submit>Easy</button>
    </form>
    <form action = "/normal">
        <button action = submit>Normal</button>
    </form>

    


    



    <script>
        

    </script>

</head>
<body>

</body>
</html>