<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APCS project</title>
    <h1>Power Play Tracker</h1>

    <form action = "/ground">
        <button type="submit">ground</button>
    </form>

    <form action = "/small">
        <button type="submit">low</button>
    </form>

    <form action = "/med">
        <button type="submit">medium</button>
     </form>

     <form action = "/high">
        <button type="submit">high</button>
    </form>

    <form action = "/park">
        <button type="submit">Parked</button>
    </form>

    <form action = "/history">
        <button type="submit">history</button>
    </form>

    <form action = "/new">
        <button type="submit">New_run</button>
    </form>
    

</head>
<body>

</body>
</html>